<div class="">
    <div class="">
        <nav class="navbar navbar-light">
            <a class="navbar-brand container m-auto" href="/">
                <img class="img" src="/img/back.png" alt="">
            </a>
        </nav>
    </div>
</div>