body{
    background-color: #ECEFF1;
}

nav.navbar{
    background: #121214;
}

nav .img{
    width: 40px;
}

#form-per{
    margin-top: 40px;
}

div.card-body button{
    background-color: #121214;
    border: 0;
}

/* index */
.card-style{
    margin-bottom: 20px;
}

.perguntas{
    margin: 30px 0;
}

/* Pergunta */
.area-pergunta h1{
    margin-top: 30px;
}

.area-pergunta form h3{
    margin-top: 30px;
}